{% extends 'base.html' %}

{% block content %}
    <h1 style="margin-top: 0;">Catálogo de Filmes</h1>
    {% if query %}
        <div style="background-color: #e1e8ed; padding: 10px 15px; border-radius: 4px; margin-bottom: 20px; display: flex; justify-content: space-between; align-items: center;">
            <span>Mostrando resultados para: <strong>"{{ query }}"</strong></span>
            <a href="{% url 'movie_list' %}" style="color: #e0245e; text-decoration: none; font-weight: bold; font-size: 14px;">✖ Limpar busca</a>
        </div>
    {% endif %}
    
    <hr style="border: 0; border-top: 1px solid #eee; margin-bottom: 20px;">

    <div class="movie-grid">
        {% for movie in movies %}
            <a href="{% url 'movie_detail' movie.id %}" class="movie-card">
                <div class="movie-poster-container">
                    {% if movie.poster %}
                        <img src="{{ movie.poster.url }}" alt="Pôster de {{ movie.title }}">
                    {% else %}
                        <div style="width: 100%; height: 100%; background-color: #ccc; display: flex; align-items: center; justify-content: center; color: #666;">Sem Pôster</div>
                    {% endif %}
                    
                    <div class="movie-synopsis-overlay">
                        {{ movie.synopsis }}
                    </div>
                </div>
                
                <div class="movie-title">{{ movie.title }} ({{ movie.release_year }})</div>
            </a>
        {% empty %}
            <p>Nenhum filme cadastrado ainda. Use o painel de Admin para adicionar!</p>
        {% endfor %}
    </div>
{% endblock %}